 <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Russian News-Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/saved">Saved</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron txt-center"><h1 class="text-center">Russian News-Scraper</h1>
<div class="text-center">
  <button class="btn btn-lg btn-default" id="scrape-btn">Get Articles</button>
</div>
</div>
