 
 <div class="jumbotron txt-center"><h1 class="text-center">News-Scraper</h1></div>
    <h2 class="text-center"><i>If you can do this...the homework should be no problem.</i></h2>
    <ul>
  {{#each data}}
  	<li>
  	   <p>Title: {{this.title}}</p>
       <p>Link: {{this.link}}</p>
  	</li>
  {{/each}}
</ul>


