 
 <div class="jumbotron txt-center"><h1 class="text-center">News-Scraper</h1></div>
    <h1 class="text-center">Scraped Articles</h1>
    <ul>
  {{#each articles}}
  	<li>
  	   <p>Title: {{this.title}}</p>
       <p>Link: {{this.link}}</p>
       <p>Notes: {{this.note}}</p>
  	</li>
  {{/each}}
</ul>


