 
 <div class="jumbotron txt-center"><h1 class="text-center">News-Scraper</h1></div>
    <h1 class="text-center">Scraped Articles</h1>
    <ul>
  {{#each articles}}
  	<li>
  	   <p class="title">Title: {{this.title}}</p>
       <p>Link: <a href="{{this.link}}">{{this.link}}</a></p>
       <p>Notes: {{this.note}}</p>
       <a type="submit" class="submit">Submit</a>
  	</li>
  {{/each}}
</ul>
<div id="notes"></div>


